@using IDropDownListItem = DALK.PL_ANALYZER.Models.GridFilter.IDropDownListItem
@using IDropDownList = DALK.PL_ANALYZER.Models.GridFilter.IDropDownList
@using Filters = DALK.PL_ANALYZER.Models.GridFilter.Filters
@using IFilter = DALK.PL_ANALYZER.Models.GridFilter.IFilter
@using DatePicker = DALK.PL_ANALYZER.Models.GridFilter.DatePicker
@using IDatePicker = DALK.PL_ANALYZER.Models.GridFilter.IDatePicker
@using DropDownModelView = DALK.PL_ANALYZER.Models.GridFilter.DropDownModelView
@using DatePickerModelView = DALK.PL_ANALYZER.Models.GridFilter.DatePickerModelView

@model Filters

@foreach (IFilter filter in Model.List)
{
    <div class="dropdown btn-group mt-3 js-matchesFilter" style="margin: 5px">
        @if (filter is IDropDownList)
        {
            DropDownModelView dropDownModelView = new DropDownModelView(filter);
            @Html.Partial("_DropDown", dropDownModelView);

        }
        else if (filter is IDatePicker)
        {
            DatePickerModelView datePickerModelView = new DatePickerModelView(filter);
            @Html.Partial("_DatePicker", datePickerModelView);
        }
    </div>
}