<div class="left-side-menu" id="left-side-bar">
    <div class="slimscroll-menu" id="left-side-menu-container">
        <a href="index.html" class="logo text-center">
            <span class="logo-lg">
                <img src="~/Content/images/logo.png" alt="" height="16" id="side-main-logo">
            </span>
            <span class="logo-sm">
                <img src="~/Content/images/logo_sm.png" alt="" height="16">
            </span>
        </a>
        <ul class="mt-3 metismenu side-nav" id="left-bar-menu">
            <li class="side-nav-title side-nav-item">Napis nr 1</li>
            <li class="side-nav-item">
                <a href="index.html" class="side-nav-link">
                    <i class="dripicons-box"></i>
                    <span>Kategoria 1.11</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="pages-installation.html" class="side-nav-link">
                    <i class="dripicons-scale"></i>
                    <span>Kategoria 1.2</span>
                </a>
            </li>
            <li class="side-nav-title side-nav-item mt-2">Napis nad nr 2</li>
            <li class="side-nav-item">
                <a href="pages-layout.html" class="side-nav-link">
                    <i class="dripicons-browser"></i>
                    <span>Kategoria 2.1</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="pages-customization.html" class="side-nav-link">
                    <i class="dripicons-document-edit"></i>
                    <span>Kategoria 2.2</span>
                </a>
            </li>
            <li class="side-nav-title side-nav-item mt-2">Napis nad nr 3 - rozwijane po kliknieciu</li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <span>Klik strzałeczka 1 </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li><a href="pages-demo-alert.html">Po rozwinieciu nr 1</a></li>
                    <li><a href="pages-demo-card.html">Po rozwinieciu nr 2</a></li>
                    <li><a href="pages-demo-form.html">Po rozwinieciu nr 3</a></li>
                    <li><a href="pages-demo-modal.html">Po rozwinieciu nr 4</a></li>
                    <li><a href="pages-demo-tab.html">Po rozwinieciu nr 5</a></li>
                    <li><a href="pages-demo-table.html">Po rozwinieciu nr 6</a></li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <span>Klik strzałeczka 2 </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li><a href="pages-demo-alert.html">Po rozwinieciu nr 1</a></li>
                    <li><a href="pages-demo-card.html">Po rozwinieciu nr 2</a></li>
                    <li><a href="pages-demo-form.html">Po rozwinieciu nr 3</a></li>
                    <li><a href="pages-demo-modal.html">Po rozwinieciu nr 4</a></li>

                </ul>
            </li>
            <li class="side-nav-title side-nav-item mt-2">Napis nad nr 4 - rozwijane po kliknieciu</li>
            <li class="side-nav-item">
                <a href="pages-changelog.html" class="side-nav-link">
                    <i class="dripicons-blog"></i>
                    <span>Kategoria 3.1</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="pages-upgrade.html" class="side-nav-link">
                    <i class="dripicons-checklist"></i>
                    <span>Kategoria 3.2</span>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>

