@using Match = DALK.PL_ANALYZER.Models.Matches.MatchModelView 
@using Matches = DALK.PL_ANALYZER.Models.Matches.MatchesModelView
@model Matches

<div class="navbar-custom">
    <ul class="list-unstyled topbar-right-menu float-right mb-0">
        <li class="notification-list topbar-dropdown d-lg-block"></li>
    </ul>
    <button class="button-menu-mobile open-left disable-btn"><i class="mdi mdi-menu" id="button-menu-mobile-toggle"></i></button>
    <div class="app-search">
        <h4>Wyniki meczów</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="layer matches__filters">

        <div class="dropdown btn-group mt-3" style="margin: 5px">
            <button class="btn btn-light dropdown-toggle" id="filtr1_test" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filtr 1</button>
            <div class="dropdown-menu dropdown-menu-animated" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                <a class="dropdown-item" href="#" onclick="document.getElementById('filtr1_test').innerText='Filtr 1'">Filtr 1</a>
                <a class="dropdown-item" href="#" onclick="document.getElementById('filtr1_test').innerText='Opcja1'">Opcja1</a>
                <a class="dropdown-item" href="#" onclick="document.getElementById('filtr1_test').innerText='Opcja2'">Opcja2</a>
                <a class="dropdown-item" href="#" onclick="document.getElementById('filtr1_test').innerText='Opcja3'">Opcja3</a>
            </div>
        </div>

        <div class="dropdown btn-group mt-3" style="margin: 5px">
            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtr 2
            </button>
            <div class="dropdown-menu dropdown-menu-animated" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>

        <div class="dropdown btn-group mt-3" style="margin: 5px">
            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtr 3
            </button>
            <div class="dropdown-menu dropdown-menu-animated" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>

        <div class="dropdown btn-group mt-3" style="margin: 5px">
            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtr 4
            </button>
            <div class="dropdown-menu dropdown-menu-animated" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>

        <div class="dropdown btn-group mt-3" style="margin: 5px">
            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtr 5
            </button>
            <div class="dropdown-menu dropdown-menu-animated" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>

        <div class="dropdown btn-group mt-3" style="margin: 5px">
            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtr 6
            </button>
            <div class="dropdown-menu dropdown-menu-animated" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>

    <div class="@Model.MatchesClassName">
        @if (Model.Matches.Count == 0)
        {
            <h3>Brak wyników dla podanych kryteriów.</h3>
        }
        else
        {
            foreach (Match m in Model.Matches)
            {
                if (m.IsPlayedMatch)
                {
                    @Html.Partial("_PlayedMatch", m);
                }
                else
                {
                    @Html.Partial("_NotPlayedMatch", m);
                }
            }
        }
    </div>

    @Html.Hidden("testqq", Model.GetJson())

    <script type="text/javascript">
        window.onload = verticalAlignAllElements;
        window.onresize = verticalAlignAllElements;
    </script>
</div>



