body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}

body {
    width: 100%;
}

.matches, .singleMatch {
    background-color: white;
    padding: 10px 40px;
}

.match {
    border: 1px solid rgb(204,208,211);
    background-color: white;
    margin-bottom: 20px;
}

.match__timestamp {
    color: rgb(102,115,152);
    flex: 1;
    text-align: right;
}

.match__heading {
    font-size: 12px;
    padding: 8px 16px;
    font-weight: bold;
    display: flex;
    border-bottom: 1px solid rgb(204,208,211);
}

.match__gametitle {
    color: rgb(17,32,43);
    flex: 40%;
}

.match__level {
    color: rgb(102,115,152);
    flex: 60%;
    text-align: right;
}

    .match__level sup {
        vertical-align: top;
        font-size: 50%;
    }


.match__info {
    display: flex;
    font-size: 12px;
    padding: 10px 16px;
    font-weight: bold;
    border-top: 1px solid rgb(204,208,211);
}

.match__team {
    display: flex;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}

.match__winner {
    color: rgb(17,32,43);
}

.match__looser {
    color: rgb(102,115,124);
    margin-bottom: 4px;
}

.match__score {
    font-size: 23px;
    letter-spacing: -0.05em;
    font-weight: normal;
}

.match__teamname {
    flex: 1;
    padding-left: 20px;
}

.match__icon {
    display: block;
    width: 34px;
    height: 34px;
}

.singleMatch {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}


.match__description, .match__mvp {
    padding: 7px 10px;
    color: rgb(17,32,43);
    font-size: 12px;
    border-top: 1px solid rgb(232,233,234);
    border-bottom: 1px solid rgb(232,233,234);
    text-align: center;
    position: relative;
}

.centered_div {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.match__description {
    background-color: rgb(243,244,245);
}

.match__mvp {
    background-color: rgb(265,229,100);
    color: rgb(115,106,106);
    font-weight: bold;
}

.match__navigation {
    display: flex;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.match__button {
    color: rgb(23,121,186);
    font-weight: bold;
    font-size: 12px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    flex: 1;
    border-right: 1px solid rgb(232,233,234);
}

    .match__button:last-child {
        border-right: none;
    }

@media (min-width: 480px) {
    .matches {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .match {
        flex: 49% 0 1;
    }

    .match__heading {
        padding-left: 10px;
        padding-right: 10px;
    }

    .match__info {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 1020px) {
    .match {
        flex: 33% 0 1;
    }
}

@media (min-width: 1280px) {
    .layer {
        width: 1280px;
        margin: 0 auto;
    }
}
