
<div class="layer matches">

    <div class="match">
        <div class="match__heading">
            <div class="match__gametitle">Kolejka 6, Grupa D</div>
            <div class="match__level">2 Liga 2019, 2019-06-02 14:45</div>
        </div>
        <div class="match__result">
            <div class="match__team match__winner">
                <img class="match__icon" src="http://cdn.nba.net/assets/logos/teams/secondary/web/LAL.svg">
                <div class="match__teamname">KSP Gospoda</div>
                <div class="match__score">54</div>
            </div>
            <div class="match__team match__looser">
                <img class="match__icon" src="http://cdn.nba.net/assets/logos/teams/secondary/web/ORL.svg">
                <div class="match__teamname">WakeTrip</div>
                <div class="match__score">53</div>
            </div>
        </div>
        <div class="match__statistics">Najlepsze 25 minut w życiu Gumy - 1 asysta!!!</div>
        <div class="match__mvp">MVP - Piotr Ludwig</div>
        <div class="match__navigation">
            <a href="#" class="match__button">ZOBACZ</a>
            <a href="#" class="match__button">SZCZEGÓŁY</a>
            <a href="#" class="match__button">ANALIZUJ</a>
        </div>
    </div>

    <div class="match">
        <div class="match__heading">
            <div class="match__gametitle">Kolejka 6, Grupa D</div>
            <div class="match__level">2 Liga 2019, 2019-06-02 14:45</div>
        </div>
        <div class="match__result">
            <div class="match__team match__winner">
                <img class="match__icon" src="http://cdn.nba.net/assets/logos/teams/secondary/web/LAL.svg">
                <div class="match__teamname">KSP Gospoda</div>
                <div class="match__score">54</div>
            </div>
            <div class="match__team match__looser">
                <img class="match__icon" src="http://cdn.nba.net/assets/logos/teams/secondary/web/ORL.svg">
                <div class="match__teamname">WakeTrip</div>
                <div class="match__score">53</div>
            </div>
        </div>
        <div class="match__statistics">Najlepsze 25 minut w życiu Gumy - 1 asysta!!!</div>
        <div class="match__mvp">MVP - Piotr Ludwig</div>
        <div class="match__navigation">
            <a href="#" class="match__button">ZOBACZ</a>
            <a href="#" class="match__button">SZCZEGÓŁY</a>
            <a href="#" class="match__button">ANALIZUJ</a>
        </div>
    </div>

    <div class="match">
        <div class="match__heading">
            <div class="match__gametitle">Kolejka 6, Grupa D</div>
            <div class="match__level">2 Liga 2019, 2019-06-02 14:45</div>
        </div>
        <div class="match__result">
            <div class="match__team match__winner">
                <img class="match__icon" src="http://cdn.nba.net/assets/logos/teams/secondary/web/LAL.svg">
                <div class="match__teamname">KSP Gospoda</div>
                <div class="match__score">54</div>
            </div>
            <div class="match__team match__looser">
                <img class="match__icon" src="http://cdn.nba.net/assets/logos/teams/secondary/web/ORL.svg">
                <div class="match__teamname">WakeTrip</div>
                <div class="match__score">53</div>
            </div>
        </div>
        <div class="match__statistics">Najlepsze 25 minut w życiu Gumy - 1 asysta!!!</div>
        <div class="match__mvp">MVP - Piotr Ludwig</div>
        <div class="match__navigation">
            <a href="#" class="match__button">ZOBACZ</a>
            <a href="#" class="match__button">SZCZEGÓŁY</a>
            <a href="#" class="match__button">ANALIZUJ</a>
        </div>
    </div>

    <div class="match">
        <div class="match__heading">
            <div class="match__gametitle">Kolejka 6, Grupa D</div>
            <div class="match__level">2 Liga 2019, 2019-06-02 14:45</div>
        </div>
        <div class="match__result">
            <div class="match__team match__winner">
                <img class="match__icon" src="http://cdn.nba.net/assets/logos/teams/secondary/web/LAL.svg">
                <div class="match__teamname">KSP Gospoda</div>
                <div class="match__score">54</div>
            </div>
            <div class="match__team match__looser">
                <img class="match__icon" src="http://cdn.nba.net/assets/logos/teams/secondary/web/ORL.svg">
                <div class="match__teamname">WakeTrip</div>
                <div class="match__score">53</div>
            </div>
        </div>
        <div class="match__statistics">Najlepsze 25 minut w życiu Gumy - 1 asysta!!!</div>
        <div class="match__mvp">MVP - Piotr Ludwig</div>
        <div class="match__navigation">
            <a href="#" class="match__button">ZOBACZ</a>
            <a href="#" class="match__button">SZCZEGÓŁY</a>
            <a href="#" class="match__button">ANALIZUJ</a>
        </div>
    </div>

    <div class="match">
        <div class="match__heading">
            <div class="match__gametitle">Kolejka 6, Grupa D</div>
            <div class="match__level">2 Liga 2019, 2019-06-02 14:45</div>
        </div>
        <div class="match__result">
            <div class="match__team match__winner">
                <img class="match__icon" src="http://cdn.nba.net/assets/logos/teams/secondary/web/LAL.svg">
                <div class="match__teamname">KSP Gospoda</div>
                <div class="match__score">54</div>
            </div>
            <div class="match__team match__looser">
                <img class="match__icon" src="http://cdn.nba.net/assets/logos/teams/secondary/web/ORL.svg">
                <div class="match__teamname">WakeTrip</div>
                <div class="match__score">53</div>
            </div>
        </div>
        <div class="match__statistics">Najlepsze 25 minut w życiu Gumy - 1 asysta!!!</div>
        <div class="match__mvp">MVP - Piotr Ludwig</div>
        <div class="match__navigation">
            <a href="#" class="match__button">ZOBACZ</a>
            <a href="#" class="match__button">SZCZEGÓŁY</a>
            <a href="#" class="match__button">ANALIZUJ</a>
        </div>
    </div>

    <div class="match">
        <div class="match__heading">
            <div class="match__gametitle">Kolejka 6, Grupa D</div>
            <div class="match__level">2 Liga 2019, 2019-06-02 14:45</div>
        </div>
        <div class="match__result">
            <div class="match__team match__winner">
                <img class="match__icon" src="http://cdn.nba.net/assets/logos/teams/secondary/web/LAL.svg">
                <div class="match__teamname">KSP Gospoda</div>
                <div class="match__score">54</div>
            </div>
            <div class="match__team match__looser">
                <img class="match__icon" src="http://cdn.nba.net/assets/logos/teams/secondary/web/ORL.svg">
                <div class="match__teamname">WakeTrip</div>
                <div class="match__score">53</div>
            </div>
        </div>
        <div class="match__statistics">Najlepsze 25 minut w życiu Gumy - 1 asysta!!!</div>
        <div class="match__mvp">MVP - Piotr Ludwig</div>
        <div class="match__navigation">
            <a href="#" class="match__button">ZOBACZ</a>
            <a href="#" class="match__button">SZCZEGÓŁY</a>
            <a href="#" class="match__button">ANALIZUJ</a>
        </div>
    </div>

</div>